<extend name="Common/base"/>
<block name="nav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">        
            <div class="container">
                <!----导航栏开始------->
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="{:U('Admin/index')}"><h4>用户管理</h4></a></li>
                    <li role="presentation"><a href="{:U('Admin/lists')}"><h4>产品列表</h4></a></li>
                    <li role="presentation"><a href="{:U('Admin/orders')}"><h4>订单列表</h4></a></li>
                    <li role="presentation"><a href="{:U('Admin/seats')}"><h4>座位分布表</h4></a></li>
                    <li role="presentation"><a href="{:U('Admin/reservation')}"><h4>订座列表</h4></a></li>
                    <li role="presentation" class="active"><a href="{:U('Admin/employees')}"><h4>员工列表</h4></a></li>
                    <li role="presentation">
                        <button type="button" class="btn btn-warning navbar-btn" style="margin-left: 320px">
                            <a href="{:U('Admin/logout')}">安全退出</a>
                        </button>
                    </li>
                    
                </ul>  
                <!----导航栏结束----->
            </div> 
      </div>
    </nav>
</block>

<block name="content">
    <div class="container">
        <p>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 950px">
                添加员工
            </button>
        </p>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加员工</h4>
                  </div>
                  <div class="modal-body">
                    <!---添加上传产品的表单--->
                    <form action="{:U('Admin/Employees/addEmployee')}" method="post" enctype="multipart/form-data">
                        
                        <div class="form-group">
                          <label>员工姓名:</label>
                          <input type="text" name="emp_name" class="form-control" placeholder="请输入员工姓名">
                        </div>

                        <div class="form-group">
                          <label>员工电话:</label>
                          <input type="text" name="phone" class="form-control" placeholder="请输入员工电话">
                        </div>

                        <button type="submit" class="btn btn-success" id="confirm">确认提交</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="reset" value="重置" class="btn btn-info">
                    </form>
                    <!---添加用户的form表单--->
                  </div>
                </div>
              </div>
            </div>
        <!-- Button trigger modal -->        
        <!---产品列表显示的表格--->
        <table class="table table-striped">
              <tr>
                  <th>员工编号</th>
                  <th>员工姓名</th>
                  <th>员工电话</th>
                  <th>操作</th>
              </tr>
              <volist name='rows' id='row' key='k'>
                <tr <?php if($k%2!==0) echo "class='info'";echo "class='success'";?>>
                    <td>{$row.sn}</td>
                    <td>{$row.emp_name}</td>
                    <td>{$row.phone}</td>
                    <td>
                        <span class="flag">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal2" value="{$row.id}" onclick="editEmployee(this)">编辑</a>
                        </span>
                        <span>
                            <a href="javascript:void(0)"value="{$row.id}" onclick="delEmployee(this)">删除</a>
                        </span>
                    </td>
                </tr>
              </volist>
       </table>
        <!--分页工具条---->
        <div id="turn-page" class="page">
            {$pageHTML}
        </div>
        
        <!-- 编辑模态框 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改员工信息</h4>
              </div>
                <div class="modal-body" id="rows">
                  <!---添加上传产品的表单--->
                <!---添加用户的form表单--->
              </div>
            </div>
          </div>
        </div>
        <!-- 编辑模态框 -->        
    </div> 
    <!---Ajax返回的时候需要添加的模板----->
        <script type="text/html" id="myTemplate">
            <form action="{:U('Admin/Employees/editEmployee')}" method="post" enctype="multipart/form-data">
                <!----用于隐藏当前产品的ID----->
                <input type="hidden" name="id" value="${id}">
                <div class="form-group">
                  <label>员工编号:</label>
                  <input type="text" name="emp_name" class="form-control" value="${emp_name}">
                </div>

                <div class="form-group">
                  <label>员工号码:</label>
                  <input type="text" name="phone" class="form-control" value="${phone}">
                </div>
                
                <button type="submit" class="btn btn-success" id="confirm">确认提交</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <input type="reset" value="重置" class="btn btn-info" disabled>
            </form>
         </script>    
</block>
<!----JS代码部分----->
<block name="js">
    <script>
        //编辑员工
        function editEmployee(demo){
            $("#rows").html("");
            var id=$(demo).attr("value");
            $.post(
                    "{:U('Admin/Employees/editEmployee')}",
                    {ids:id},
                    function(data){
                        //根据回显里面的字段recommended对单选框进行选择
                        $('#myTemplate').tmpl(data).appendTo('#rows');
                    }
            );            
        }
        //删除员工时，触发的方法
        function delEmployee(demo){
            var id=$(demo).attr("value");
            console.debug(id);
            var confirms=confirm("你确定要删除该员工");
            if(confirms){
                var id=$(demo).attr("value");
                $.post(
                        "{:U('Admin/Employees/delEmployee')}",
                        {id:id},
                        function(data){
                            //根据回显里面的字段recommended对单选框进行选择
                            alert(data);
                            location.href="{:U('Admin/Admin/employees')}";
                        }
                );                  
            }
        }
    </script>
</block>