<extend name="Common/base"/>
<block name='css'>
    <link rel="stylesheet" type="text/css" href="__UPLOADIFY__/uploadify.css">
</block>
<!----在线订座  ----->
<block name='content'>
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>座位编号</th>
                <th>客户名字</th>
                <th>客户电话</th>
                <th>用餐人数</th>
                <th>用餐时间</th>
                <th>提交订座时间</th>
            </tr>
            <volist name="rows" id="row" key="k">
            <tr <?php if($k%2!==0) echo "class='info'";echo "class='success'";?>>
                <td>{$row.seat_num}号座</td>
                <td>{$row.custom_name}</td>
                <td>{$row.phone}</td>
                <td>{$row.meals_number}</td>
                <td>{$row.meals_date} {$row.meals_time}</td>
                <td>{$row.orders_time}</td>
            </tr>
            </volist>
        </table>
        <!--分页工具条---->
        <div id="turn-page" class="page">
            {$pageHTML}
        </div>
        
    </div>
</block>